/* Pagination */
* div, h1,h2,h3 {
    margin: 0;
    box-sizing: border-box;
}

.block-pagination {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Profile User *********************************/

.profileuser {
    display: flex;
    margin: 30px auto;
    height: auto;
    width: 400px;
    max-width: 100%; 

    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.profileuser_inner {
    display: flex;
    margin: 20px;

    flex-direction: column;
}

.profileuser_inner__photo {
    margin: auto;
}

.profileuser_inner__btn button {
    display: block;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: rgb(223, 124, 78);
    transition: background .6 linear;
}

.profileuser_inner__btn button:hover {
    background: rgb(255, 0, 0);
}

/* Wather Card ***********************************/

.weather__container {
    margin: 40px auto;
    width: 400px;
    max-width: 100%;

    display: flex;
    flex-direction: column;
}

.weather__input {
    display: flex;
    margin: 0 auto;
    width: 300px;

    flex-direction: column;   
    align-items: center;
}

.weather__input button {
    width: 200px;
    height: 40px;
}

.weather__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather_card__container {
    margin: 20px auto;
    width: 300px;
    display: flex;
    padding: 40px;

    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 5px;  
}

/* Clocks Page  */

.clock_page__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    width: 700px;
    max-width: 100%;
}

.input_fields {
    display: flex;
    flex-direction: column;

    margin: 40px auto;
}

.cards { 
    display: flex;
    margin: 0 auto;
    width: 500px;
    flex-direction: column;

}

/****************  Clock_card  *******************/

.card_clock__container {
    display: flex;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 4px 8px;
    justify-content: space-between;
    align-items: center;
    

    border: 1px solid #ccc;
    border-radius: 5px;
}